<h2>Product details</h2>

<div *ngIf="product">
  <h4>{{ product.name }}</h4>
  <h5>{{ product.price | currency }}</h5>
  <!-- currency is a pipe, and formats the value in a price format string -->
  <p>{{ product.description }}</p>
  <button type="button" (click)="addToCart(product)">Add to cart</button>
</div>

<div *ngIf="car">
  <h4>{{ car.name }}</h4>
  <h5>{{ car.price | currency }}</h5>
  <!-- currency is a pipe, and formats the value in a price format string -->
  <p>{{ car.description }}</p>
  <button type="button" (click)="addToCart(car)">Add to cart</button>
</div>

<div *ngIf="bike">
  <h4>{{ bike.name }}</h4>
  <h5>{{ bike.price | currency }}</h5>
  <!-- currency is a pipe, and formats the value in a price format string -->
  <p>{{ bike.description }}</p>
  <button type="button" (click)="addToCart(bike)">Add to cart</button>
</div>
