<h2>Cart</h2>

<p>
  <a routerLink="/shipping">Shipping prices</a>
</p>
<div *ngFor="let item of items" class="cart-item">
  <span>{{ item.name }}</span>
  <span [className]="item.price > 900 ? 'pluto' : 'pippo'">
    <!-- 
      the class assignment could also be done in this (longer) way:
      [ngClass]="{
        'pippo': item.price < 900,
        'pluto': item.price > 900
      }"
    -->
    {{ item.price | currency }}
  </span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <!-- ngSubmit seems typical of forms, why not (submit) (?)-->
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" />
  </div>

  <div>
    <label for="address">Address</label>
    <input type="text" id="address" formControlName="address" />
  </div>
  <button class="button" type="submit">Purchase</button>
</form>
