<h2 class="pippo | pluto">Cart</h2>
<p>
  <a routerLink="/shipping">Shipping prices</a>
</p>

<app-list-item
  *ngFor="let item of items"
  [label]="item.name"
  [price]="item.price"
  [priceColor]="
    item.price
      | colorPicker
        : {
            valueMax: 50000,
            valueMin: 10000,
            valueAvg: 20000,
            returnValueMax: 'high-range',
            returnValueMin: 'low-range',
            returnValueAvg: 'mid-range'
          }
  "
  (onClick)="logging(item)"
>
</app-list-item>

<hr />
<!--
<app-list-item
  *ngFor="let item of items"
  [label]="item.name"
  [price]="item.price"
  [priceColor]="
    item.price
      | colorPicker
        : {
            valueMax: 1500,
            valueMin: 300,
            valueAvg: 700,
            returnValueMax: 'pluto',
            returnValueMin: 'pippo',
            returnValueAvg: 'paperino'
          }
  "
>
</app-list-item>

<app-list-item
  *ngFor="let bike of bikes"
  [label]="bike.name"
  [price]="bike.price"
  [priceColor]="
    bike.price
      | colorPicker
        : {
            valueMax: 50000,
            valueMin: 10000,
            valueAvg: 20000,
            returnValueMax: 'bigBike',
            returnValueMin: 'smallBike',
            returnValueAvg: 'midBike'
          }
  "
  (onClick)="logging(bike)"
></app-list-item>

<app-car-shop
  *ngFor="let car of cars"
  [name]="car.name"
  [price]="car.price"
  [priceColor]="
    car.price
      | colorPicker
        : {
            valueMax: 50000,
            valueMin: 10000,
            valueAvg: 20000,
            returnValueMax: 'bigcar',
            returnValueMin: 'smallcar',
            returnValueAvg: 'midcar'
          }
  "
></app-car-shop>
-->
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" />
  </div>

  <div>
    <label for="address">Address</label>
    <input type="text" id="address" formControlName="address" />
  </div>
  <button class="button" type="submit">Purchase</button>
</form>

<div class="infos" (click)="itemShow = !itemShow">
  <div *ngIf="itemShow">
    <span>{{ descriptionShowed }}</span>
    <hr />
    <span>{{ priceShowed }}</span>
    <hr />
    <img id="imgCart" src="{{ imgUrl }}" />
  </div>
</div>
