<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a [title]="product.name + ' details'">
      <!-- just concatenating two strings in the title that shows when we hover on the a -->
      {{ product.name }}
    </a>
  </h3>
  <p *ngIf="product.description">
    <!-- does it exist ? Create this element -->
    Description: {{ product.description }}
  </p>
  <button type="button" (click)="share()">Share this product</button>
  <app-product-alerts [product]="product" (notify)="onNotify()">
  </app-product-alerts>
  <!--
    just embedding the child element that'll take the data from the parent; [product] an attribute that takes the product from the parent (@Input at work here)
    
    (notify) is the event, and we'll call the function when it fires
  -->
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
