<h2>Products</h2>

<div *ngFor="let product of products">
  <h3>
    <a
      [title]="product.name + ' details'"
      [routerLink]="['/products', product.id]"
    >
      {{ product?.name + ' details' }}
    </a>
    <!--
      [name]="computation here" (concatenating two strings in the title shown when we hover on it, that's also one)
      without [] on the property name, there's no computation here (fixed value, look at top-bar.component.html)

      [routerLink]=/products => base/product.id => dynamic payload]
      is routerLink typical of Angular (?) Yes
    -->
  </h3>
  <p *ngIf="product.description">
    <!-- does it exist ? Create this element -->
    Description: {{ product.description }}
  </p>
  <button type="button" (click)="share($event)">Share this product</button>
  <product-alerts [product]="product" (notify)="onNotify($event)">
  </product-alerts>

  <!--
    just embedding the child element that'll take the data from the parent (angular components are one inside another)
    [product] an attribute that takes the product from the parent (@Input at work here, its input)

    (notify) is an output, and in this case it'll output the event when it fires on the child element, to be catched and handled by the parent's function

    notify($variable) to pass it, or it should be a property of the component (like product)
</div>
--></div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
